.activity_participants {
    .list {
        .participant_block {
            border-bottom: 1px solid $form_font_color;
            border-bottom: 1px solid rgba($theme_color01, 0.25);
            //padding: 5px;
            
            &.header {
                background-color: $theme_color01;
                color: #fff;
                padding: 5px;
                &:hover {
                    background-color: $theme_color01;
                    color: #fff;
                }
            }
            
            &:hover, &.opened {
                .row {
                    background-color: rgba($theme_color01, 0.5);
                    color: #fff;
                    .link, .link a {
                        color: #fff;
                    }
                }
            }
            
            .row {
                padding: 5px;
            }
            
            .participant {
                width: 25%;
                //margin-right: 5%;
                margin-right: 50%;
                @include smartphone {
                    width: 70%;
                    margin-right: 5%;
                }
                .name {
                    width: 80%;
                }
                .age {
                    width: 20%;
                }
            }
            /*
            .email {
                width: 35%;
            }*/
            .sign_out {
                width: 15%;
                @include smartphone {
                    display: none;
                }
            }
            .paid {
                width: 10%;
                text-align: right;
                @include smartphone {
                    width: 25%;
                }
            }
            
            .details {
                display: none;
                padding: 5px;
                .gsm, .phone, .email {
                    width: 33%;
                    @include smartphone {
                        width: 100%;
                    }
                    i {
                        @include smartphone {
                            width: 20px;
                        }
                    }
                }
            }
            
            .link, .link a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                    color: #fff;
                }
            }
        }
    }
}