.activity_details {
    position: relative;
    .tabs {
        .tab {
            //border: 2px solid $theme_color01;
            //border-radius: 5px;
            //padding: 8px 2%;
            //width: calc(46% - 8px);
            position: relative;
            padding: 8px 0;
            width: 50%;
            text-align: center;
            cursor: pointer;
            background-color: rgba($form_font_color, 0.25);
            z-index: 5;
            
            transition: background-color .5s;
            
            &:first-child {
                //margin-right: 1%;
            }
            
            .bg_helper {
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(-216deg, #00ffa7 0%, #009688 100%);
                opacity: 0;
                transition: opacity .5s;
            }
            
            &:hover, &.active {
                //background-color: rgba($theme_color01, 0.5);
                .bg_helper {
                    opacity: 1;
                }
                //background: linear-gradient(-216deg, #00ffa7 0%, #009688 100%);
                color: #fff;
            }
        }
    }
    
    .activity_info {
        .info, .sign_up {
            width: 45%;
        }
        .poster {
            width: 50%;
            margin-right: 5%;
            cursor: pointer;
            img {
                width: 100%;
                height: auto;
                box-shadow: 5px 5px 5px rgba(#777272, 0.5);
            }
        }
        
        h4 {
            margin-top: 0;
            &.battle_bunny {
                color: $battle_bunny;
            }
            &.party_penguin {
                color: $party_penguin;
            }
        }
        
        i {
            width: 25px;
            //text-align: center;
        }
        
        .sign_up {
            display: none;
        }
    }
    
    .lightbox_modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(#000, 0.6);
        z-index: 5;
        display: none;
        
        .modal {
            width: 45%;
            margin: 30px auto;
            background-color: rgba(#000, .75);
            box-shadow: 0 0 10px #000, 0 0 25px #000;
            color: rgba(#fff, 0.8);
            
            .modal_header, .modal_footer {
                padding: 10px;
            }
            .modal_header {
                text-align: right;
                i {
                    cursor: pointer;
                    &:hover {
                        color: #fff;
                    }
                }
            }
            .modal_body {
                text-align: center;
                img {
                    width: 90%;
                    height: auto;
                }
            }
            .modal_footer {
                text-align: center;
                font-style: italic;
            }
            
        }
    }
}