.activities_overview {
    
    .content {
    
        .edit_button {
            margin: 0;
            position: absolute;
            top: 40px;
            padding: 25px;
            right: 40px;
        }

        #calendar {
            padding: 25px;
            @include smartphone {
                padding: 0;
            }
            .fc-toolbar {
                .fc-right {
                    @include smartphone {
                        display: none;
                    }
                }
            }
        }
        
        &:hover {
            .edit_button {
                display: block;
            }
        }
    }
}