.activities_list {
    .add_activity_link {
        a {
            float: right;
            padding: 8px 14px;
            background-color: rgba($theme_color01, 0.6);
            border-radius: 50%;
            color: #fff;
            @include transition(background-color 0.2s ease);
            &:hover {
                background-color: $theme_color01;
            }
        }
    }
    h3 {
        &.first {
            margin-top: -10px;
        }
    }
    .list {
        .activity {
            border-bottom: 1px solid $form_font_color;
            border-bottom: 1px solid rgba($theme_color01, 0.25);
            padding: 5px;
            
            &.header {
                background-color: $theme_color01;
                color: #fff;
                &:hover {
                    background-color: $theme_color01;
                    color: #fff;
                }
                
                .participants {
                    @include smartphone {
                        color: transparent;
                    }
                }
            }
            
            a {
                color: rgba($theme_color01, 0.6);
                text-decoration: none;
            }
            
            &:hover {
                background-color: rgba($theme_color01, 0.5);
                color: #fff;
                a {
                    color: #fff;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                i {
                    color: #fff;
                }
                .is_visible {
                    label {
                        i {
                            color: rgba(#fff, 0.4);
                        }
                    }
                    input[type="checkbox"]:checked + label {
                        i {
                            color: #fff;
                        }
                    }
                }
            }
            .is_visible {
                width: 6%;
                
                @include smartphone {
                    display: none;
                }
                
                label {
                    i {
                        color: rgba($theme_color01, 0.25);
                    }
                }
                input[type="checkbox"]:checked + label {
                    i {
                        color: rgba($theme_color01, 0.6);
                    }
                }
            }
            .date {
                width: 16%;
                @include smartphone {
                    width: 20%;
                }
                
                .year {
                    @include smartphone {
                        display: none;
                    }
                }
            }
            .title {
                width: 56%;
            }
            .participants {
                width: 16%;
                @include smartphone {
                    width: 14%;
                }
            }
            .edit {
                width: 3%;
                @include smartphone {
                    width: 10%;
                    text-align: right;
                }
            }
            .delete {
                width: 3%;
                text-align: right;
                @include smartphone {
                    display: none;
                }
            }
        }
    }
}
#delete_activity_modal {
    height: 100%;
}