.activity_details {
    position: relative;
    height: 100%;
    
    .tabs {
        .tab {
            //border: 2px solid $theme_color01;
            //border-radius: 5px;
            //padding: 8px 2%;
            //width: calc(46% - 8px);
            position: relative;
            padding: 8px 0;
            width: 50%;
            text-align: center;
            cursor: pointer;
            background-color: rgba($form_font_color, 0.25);
            z-index: 5;
            
            transition: background-color .5s;
            
            &:first-child {
                //margin-right: 1%;
            }
            
            .bg_helper {
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(-216deg, #00ffa7 0%, #009688 100%);
                opacity: 0;
                transition: opacity .5s;
            }
            
            &:hover, &.active {
                //background-color: rgba($theme_color01, 0.5);
                .bg_helper {
                    opacity: 1;
                }
                //background: linear-gradient(-216deg, #00ffa7 0%, #009688 100%);
                color: #fff;
            }
        }
    }
    
    .back {
        margin: 15px 0;
        a {
            color: rgba($theme_color01, 0.6);
            text-decoration: none;
            &:hover {
                color: $theme_color01;
            }
        }
    }
    
    .activity_info {
        .info, .sign_up_info {
            width: 45%;
        }
        .poster {
            width: 50%;
            margin-right: 5%;
            cursor: pointer;
            img {
                width: 100%;
                height: auto;
                box-shadow: 5px 5px 5px rgba(#777272, 0.5);
            }
        }
        
        .info {
            .google_maps {
                margin-top: 15px;
                #map {
                    width: 100%;
                    height: 240px;
                }
            }
        }
        
        .sign_up {
            display: none;
            
            .sign_up_list {
                width: 50%;
                margin-right: 5%;
                
                
                .people {
                    box-shadow: 5px 5px 5px rgba(#777272, 0.5);
                    
                    .edit_button {
                        float: left;
                    }
                    
                    .amount_participants {
                        text-align: right;
                        margin: 15px;
                        
                        .current_amount {
                            color: $error_bg_color;
                            &.okay {
                                color: $success_bg_color;
                            }
                        }
                    }
                    
                    .person {
                        width: 25%;
                        margin-bottom: 25px;
                        figure {
                            margin: 0;
                            text-align: center;
                            img {
                                width: 80%;
                                height: auto;
                                border-radius: 50%;
                            }
                            figcaption {
                                font-size: .9em;
                                font-style: italic;
                                
                                i {
                                    color: $success_bg_color;
                                }
                            }
                        }
                    }
                    
                    &:hover {
                        .edit_button {
                            display: block;
                        }
                    }
                }
                
                .empty {
                    width: 75%;
                    margin: 30px auto;
                    font-size: 0.9em;
                    text-align: center;
                    font-style: italic;
                }
            }
            
            .sign_up_info {
                .sign_up_for {
                    margin-bottom: 15px;
                    
                    .me {
                        margin-bottom: 10px;
                        a {
                            color: rgba($theme_color01, 0.6);
                            text-decoration: none;
                            &:hover {
                                color: $theme_color01;
                            }
                        }
                    }
                    
                    .checkbox {
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        background-color: rgba($form_font_color, 0.25);
                        padding: 2px 3px;
                        padding-bottom: 4px;
                        border-radius: 5px;
                        color: transparent;
                        margin-right: 15px;
                        &:hover {
                          color: $form_color;
                        }
                        & + span {
                          display: inline-block;
                        }
                      }

                      input:checked + label .checkbox {
                          &.battle_bunny {
                              color: $battle_bunny;
                          }
                          &.party_penguin {
                              color: $party_penguin;
                          }
                      }
                    
                }
                .sign_up_others {
                    display: none;
                    margin-bottom: 15px;
                    
                    .descriptive_info {
                        margin-top: 0;
                    }
                    
                    .search_participants {
                        input[name="search_participants"] {
                            font-size: inherit;
                            width: calc(100% - 21px);
                            padding: 5px 10px;
                            border: 1px solid $form_color;
                            &:hover, &:focus {
                                border-color: $theme_color01;
                            }
                        }
                        .search_results {
                            position: relative;

                            ul {
                                display: none;
                                padding: 0;
                                list-style: none;
                                margin: 0;
                                //padding: 10px;
                                position: absolute;
                                background-color: #fff;
                                width: 100%;
                                border: 1px $form_color solid;
                                border-top: 0;
                                border-bottom-left-radius: 5px;
                                border-bottom-right-radius: 5px;
                                
                                li {
                                    padding: 6px 10px;
                                    &:hover {
                                        cursor: pointer;
                                        background-color: $theme_color01;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                    
                    .added_participants {
                        display: none;
                        .participant {
                            &.template {
                                display: none;
                            }
                            .remove {
                                float: right;
                                text-align: right;
                                color: rgba($delete_color, 0.8);
                                &:hover {
                                    cursor: pointer;
                                    color: $delete_color;
                                }
                            }
                        }
                    }
                    
                }
                
                .error_msg {
                    display: none;
                }
            }
        }
        
        h4 {
            margin-top: 0;
            &.battle_bunny {
                color: $battle_bunny;
            }
            &.party_penguin {
                color: $party_penguin;
            }
        }
        
        i {
            width: 25px;
            //text-align: center;
        }
        
    }
    
    .lightbox_modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.6);
        z-index: 5;
        display: none;
        
        .modal {
            width: 45%;
            margin: 30px auto;
            background-color: rgba(#000, .75);
            box-shadow: 0 0 10px #000, 0 0 25px #000;
            color: rgba(#fff, 0.8);
            
            .modal_header, .modal_footer {
                padding: 10px;
            }
            .modal_header {
                text-align: right;
                i {
                    cursor: pointer;
                    &:hover {
                        color: #fff;
                    }
                }
            }
            .modal_body {
                text-align: center;
                img {
                    width: 90%;
                    height: auto;
                }
            }
            .modal_footer {
                text-align: center;
                //font-style: italic;
            }
            
        }
        
        &.light {
            .modal {
                background-color: #fff;
                box-shadow: none;
                color: $form_font_color;
                border-radius: 5px;
                i {
                    &:hover {
                        color: #000;
                    }
                }
            }
        }
    }
    
    #poster_modal {
        .modal_footer {
            text-align: center;
            font-style: italic;
        }
    }
}