.activities_list {
    .list {
        .activity {
            border-bottom: 1px solid $form_font_color;
            border-bottom: 1px solid rgba($theme_color01, 0.25);
            padding: 5px;
            
            &.header {
                background-color: $theme_color01;
                color: #fff;
                &:hover {
                    background-color: $theme_color01;
                    color: #fff;
                }
            }
            
            a {
                color: rgba($theme_color01, 0.6);
                text-decoration: none;
            }
            
            &:hover {
                background-color: rgba($theme_color01, 0.5);
                color: #fff;
                a {
                    color: #fff;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                i {
                    color: #fff;
                }
                .is_visible {
                    label {
                        i {
                            color: rgba(#fff, 0.4);
                        }
                    }
                    input[type="checkbox"]:checked + label {
                        i {
                            color: #fff;
                        }
                    }
                }
            }
            .is_visible {
                width: 6%;
                label {
                    i {
                        color: rgba($theme_color01, 0.25);
                    }
                }
                input[type="checkbox"]:checked + label {
                    i {
                        color: rgba($theme_color01, 0.6);
                    }
                }
            }
            .date {
                width: 16%;
            }
            .title {
                width: 56%;
            }
            .participants {
                width: 16%;
            }
            .edit {
                width: 3%;
            }
            .delete {
                width: 3%;
                text-align: right;
            }
        }
    }
}