
.form_part {
  //width: 500px;
  overflow: hidden;
}



.total {
    //width: 2000px;
    width: 400%;
    position: relative;
    left: 0%;

    //transition: left 0.75s;
    @include transition(left 0.75s ease);
    
    h3 {
        color: $form_color_radio;
        font-family: $h3_font;
        font-size: 1.3em;
    }

  div[class^="part0"] {
    //width: 500px;
    width: 25%;
    float: left;

    .step_content {
      width: 93%;
      margin: 0 auto;
    }

    .category_poster {
        .category_block, .poster_block {
            width: 50%;
            @include smartphone {
                width: 100%;
            }
        }
    }
      
    .categories {
        margin-bottom: 40px;
        
      .category {
          width: 100px;
          height: 100px;
          background-color: $form_color_radio;
          border-radius: 50%;
          position: relative;
          float: left;
          margin-right: 10px;
          &:nth-child(n+4) {
              margin-top: 25px;
          }
          
          @include smartphone {
              width: 30%;
              margin-right: 2%;
          }

        label {
            overflow: hidden;
            position: absolute;
            width: 80%;
            height: 80%;
            margin: calc(10% - 6px);
            border: 6px solid $form_color_radio;
            border-radius: 50%;
            background-color: #fff;
            box-sizing: content-box;

          img {
            width: 90%;
            height: 90%;
            margin: 5%;
          }
        }
        
        input {
          //display: none;
          position: absolute;
          left:20px;
          top:50px;

          &:checked + label {
            border: 6px solid $theme_color01;
          }
        }
      }
    }

    .poster {
      width: 100%;
      height: 400px;
        #poster {
            display: none;
        }
      label {
        width: 100%;
        height: 95%;
        border: $form_color 2px dashed;
        display: block;
        text-align: center;
        position: relative;
        
        img.uploaded_poster {
          display: none;
          height: 100%;
          width: auto;
        }

        span {
          position: absolute;
          //top: 30%;
          left: 0;
          width: 100%;
          height: 100%;
          line-height: 400px;
        }

        &:hover {
          cursor: pointer;
          span {
            text-decoration: underline;
          }
        }

        &.poster_exists {
            span {
                opacity: 0;
                //-webkit-transition: opacity 0.2s; /* Safari */
                //transition: opacity 0.2s;
               @include transition(opacity 0.2s ease);
              
          }
          &:hover {
            span {
              opacity: 1;
              //background-color: rgba($theme_color02, 0.95);
              background-color: rgba($form_color_radio, 0.9);
            }
          }
        }
      }
    }
      

    .title.description {
        margin-top: 30px;
        
        h3 {
            margin-bottom: 10px;
        }
        #description {
            display: none;
        }
        .note-editor {
            border-color: $form_color;
            &.focus {
                border-color: $theme_color01;
            }
            .note-editing-area {
                min-height: 250px;
                .note-placeholder {
                    width: 100%;
                    height: 100%;
                }
            }
            .modal.link-dialog {
                position: absolute;
                
                .modal-content {
                    width: 75%;
                    margin: 0 auto;
                    margin-top: 10%;
                    
                    .modal-header {
                        display: none;
                    }
                    .modal-body {
                        .form-group {
                            label {
                                display: none;
                            }
                        }
                        .checkbox {
                            display: none;
                        }
                    }
                    .modal-footer {
                        text-align: center;
                        padding: 0;
                        border-top: 0;
                        button {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

      .date_time_info {
          width: 45%;
          @include smartphone {
              width: 100%;
          }
          .date_info {
              float: left;
              margin-right: 50px;
              text-align: center;

              h3 {
                  text-align: left;
              }

              .datepicker_box {
                  position: relative;
                  display: block;
                  width: 250px;
                  height: 250px;
                  border: 1px solid $form_font_color;
                  margin-bottom: 15px;
  
                  div {
                      position: absolute;
                      left: 0;
                      top: 0;
                      width: 100%;
                      height: 100%;
                  }

                  .container_startdate,
                  .container_deadline {
  
                      &.front {
                          z-index: 2;
                      }
  
                      table {
                          margin: 0 auto;
                          tr {
                            td {
                              padding: 2px 5px;
                              cursor: default;
                              &.disabled {
                                background-color: rgba(#d0dae2, 0.2);
                              }
                            }
                          }
                      }
                  }
  
                  .container_startdate {
                    table tr td.active:active,
                    tr td.active.highlighted:active,
                    tr td.active.active,
                    tr td.active.highlighted.active {
                      background: $theme_gradient01;
                        color: #fff;
                    }
                      
                      table tr td.white_color,
                      table tr td.active.white_color,
                      tr td.active.highlighted.white_color,
                      tr td.active.active.white_color,
                      tr td.active.highlighted.active.white_color {
                          color: #fff;
                      }
                  }
  
                  .container_deadline {
                      table tr td.active:active,
                      tr td.active.highlighted:active,
                      tr td.active.active,
                      tr td.active.highlighted.active {
                          background: $theme_gradient03;
                          color: #fff;
                      }
                      table tr td.white_color,
                      table tr td.active.white_color,
                      tr td.active.highlighted.white_color,
                      tr td.active.active.white_color,
                      tr td.active.highlighted.active.white_color {
                          color: #fff;
                      }
                  }

              }

              .date_type {
                //display: inline-block;
                //float: left;
                  margin-bottom: 10px;
                  
                .radio {
                  display: block;
                  width: 25px;
                  height: 25px;
                  border-radius: 50%;
                  background-color: $form_color_radio;
                  overflow: hidden;
                  margin: 0;
                  float: left;
                  margin-right: 10px;

                  .bullet {
                    display: block;
                    width: 60%;
                    height: 60%;
                    border-radius: 50%;
                    margin: 20%;
                    background-color: transparent;
                  }
                }

                .label {
                  margin-top: 4px;
                  float: left;
                }
              }

              .startdate {
                //margin-right: 50px;
                width: 150px;
                .radio {
                  .bullet.selected {
                    background: $theme_gradient01;
                  }
                }
              }
              .deadline {
                .radio {
                  .bullet.selected {
                    background: $theme_gradient03;
                  }
                }
              }

            }
      }
  }
}

.starttime, .endtime {
    width: 35%;
    //text-align: center;
    float: left;
    
    h3 {
        margin-bottom: 5px;
    }

    /*
    .timepicker {
      border: 1px solid $form_font_color;

      .arrow_up,
      .arrow_down {
        background-color: $form_font_color;
        color: #fff;
      }

      .visible_container {
        //height: 210px;
          height: 60px;
        overflow: hidden;

          .scroll_controller {
              //overflow: auto;
              height: 100%;
              padding-right: 16px;
              width: 100%;
              ul {
                  position: relative;
                  //top: -50px;
                  transition: top 0.2s;
                  list-style: none;
                  padding: 0;
                  margin: 0;

                  li {
                      input {
                          display: none;
                          &:checked + label {
                            background: $theme_gradient01;
                            color: #fff;
                          }
                      }
                      label {
                          display: block;
                          width: 100%;
                          border-radius: 15px;
                      }
                  }
              }
          }
      }
    }
    */
}

.endtime {
    margin-left: 10%;
}

.ui-timepicker-wrapper {
    width: 112px !important;
}

.ui-timepicker-wrapper .ui-timepicker-list li {
    padding-left: 8px;
}

.ui-timepicker-wrapper .ui-timepicker-list li:hover,
.ui-timepicker-wrapper li.ui-timepicker-selected{
    background-color: $theme_color01;
    color: #fff;
}


.location_info {
    width: 55%;
    margin-bottom: 40px;
    
    @include smartphone {
        width: 100%;
    }

  .location_type {
      margin-bottom: 10px;
    div {
      float: left;
      width: 150px;
        @include smartphone {
            width: 50%;
        }

      .radio {
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $form_color_radio;
        overflow: hidden;
        margin: 0;
        float: left;
        margin-right: 10px;

        .bullet {
          display: block;
          width: 60%;
          height: 60%;
          border-radius: 50%;
          margin: 20%;
          background-color: transparent;
          &.selected {
            background: $theme_gradient01;
          }
        }
      }
    }


  }
    /*
    .google_maps_sportiva {
        width: 100%;
        height: 360px;
        #sportiva_map {
            width: 100%;
            height: 100%;
        }
    }*/
    
    .google_maps {
        //opacity: 0;
        &.show {
            opacity: 1;
        }
        #map {
            width: 100%;
            height: 360px;
        }
        .controls {
            margin-top: 10px;
            border: 1px solid transparent;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 32px;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }

        #place-input {
            opacity: 0;
          background-color: #fff;
          font-family: Roboto;
          font-size: 15px;
          font-weight: 300;
          margin-left: 0px;
          padding: 0 11px 0 13px;
          text-overflow: ellipsis;
          width: 265px;
        }

        #place-input:focus {
          border-color: #4d90fe;
        }
        
        &.show {
            #place-input {
                opacity: 1;
            }
        }
    }

}


//part 04
//range_slider
.slider_block {
  margin: 0 auto;
  margin-bottom: 20px;

  div:first-child {
    margin-bottom: 10px;
  }

  span {
    display: block;
    float: left;

    &.min_participants,
    &.min {
      width: 6%;
    }

    &.max_participants,
    &.price_amount,
    &.helpers_amount {
      //margin-left: 35px;
      width: 6%;
      text-align: right;
    }
  }

  div.slider {
    float: left;
  }

  .slider.slider-horizontal {
    width: 88%;
  }

}



.participants .slider.slider-horizontal .slider-track,
.price .slider.slider-horizontal .slider-track,
.helpers .slider.slider-horizontal .slider-track {
  height: 4px;
  margin-top: -1px;
  background-image: none;
  background-color: $form_color;
}

.slider .tooltip.top {
  display: none;
}

.participants .slider-handle,
.price .slider-handle,
.helpers .slider-handle {
  background-image: $theme_gradient01;
}

.participants .slider-selection,
.price .slider-selection,
.helpers .slider-selection {
  background-image: none;
  background-color: $theme_color01;
}


.owner {
  position: relative;
  margin: 0 auto;
  margin-bottom: 25px;

  div {
    font-size: 1.2em; //22px;
    font-family: inherit;
    display: block;
    height: 100%;
    padding: 10px 5%;
    color: $form_color;
    border-radius: 0;
    //transition: border-color .25s ease, box-shadow .25s ease;
    border: 1px solid $form_color;
    background-color: transparent;
    cursor: pointer;
    width: 90%;
      
      @include smartphone {
          font-size: 0.9em;
      }
    
    i {
      float: right;
    }
  }
  ul {
    position: absolute;
    width: 100%;
    background-color: $form_color_radio;
    margin: 0;
    padding: 0;
    border: 1px solid $form_color;
    list-style: none;
    display: none;
    z-index: 2;

    li {
        padding: 5px 5%;
        cursor: initial;
        border-bottom: 1px solid $form_font_color;
        font-size: 1.2em;
        &:hover {
          background-color: $theme_color01;
          //-webkit-border-radius: 10px;
          color: #fff;
        }
    }
  }
}

.extra_url {
  margin-top: 40px;
    label {
        @include smartphone {
            font-size: 0.9em;
            left: 15px;
        }
    }
}

.visibility {
  .checkbox {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: $form_color_radio;
    padding: 2px 3px;
    padding-bottom: 4px;
    border-radius: 5px;
    color: transparent;
    margin-right: 15px;
    &:hover {
      color: $form_color;
    }
      i {
          position: absolute;
      }
    & + span {
      display: inline-block;
    }
  }

  input:checked + label .checkbox {
    color: $theme_color01;
  }
}

.submit {
  margin-top: 25px;
}


//extra stuff from Summernote that should not be displayed
.note-popover.popover {
    display: none;
}

//lightbox
.upload_activity_poster_modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.6);

        .content {
            width: 50%;
            margin: 30px auto;
            background-color: #fff;
            color: $form_font_color;
            border-radius: 5px;

            .header {
                text-align: right;
                i {
                    margin: 15px;
                    cursor: pointer;
                    &:hover {
                        color: #000;
                    }
                }
            }

            .body {
                text-align: center;
                .upload_poster {
                    position: relative;
                    width: 350px;
                    margin: 0 auto;
                    label {
                        z-index: 5;
                        border: 1px dashed $form_color;
                        position: absolute;
                        //top: 45%;
                        width: 80%;
                        height: 385px;
                        top: 25px;
                        line-height: 385px;
                        left: calc(10% - 1px);
                        padding: 2% 0;
                        text-align: center;
                        cursor: pointer;
                        &:hover {
                            //background-color: $theme_color01;
                            //color: #fff;
                            text-decoration: underline;
                        }
                        &.poster_exists {
                            top: 0;
                            width: calc(100% - 1px);
                            left: 0;
                            height: 20px;
                            line-height: 20px;
                            background-color: rgba(#fff, 0.95);
                            display: none;
                        }
                    }

                    &:hover {
                        label.poster_exists {
                            display: block;
                            &:hover {
                                background-color: $theme_color01;
                                color: #fff;
                            }
                        }
                    }
                    
                    .save_poster {
                        width: 350px;
                        margin-bottom: 25px;
                        display: none;
                    }
                }
            }
        }
    }


/* clearfix */
.clearfix::before, .clearfix::after,
.total::before, .total::after,
.categories::before, .categories::after,
.date_type::before, .date_type::after,
.location_type::before, .location_type::after,
.slider_block::before, .slider_block::after {
  content: '';
  line-height: 0;
  display: table;
}

.clearfix::after,
.total::after,
.categories::after,
.date_type::after,
.location_type::after,
.slider_block::after {
  clear: both;
}