


.form_part {
  //width: 500px;
  overflow: hidden;
}



.total {
  //width: 2000px;
  width: 400%;
  position: relative;
  left: -300%;

  div[class^="part0"] {
    //width: 500px;
    width: 25%;
    float: left;

    .step_content {
      width: 80%;
      margin: 0 auto;
      margin-top: 30px;
    }


    .categories {
      .category {
        width: 100px;
        height: 100px;
        background-color: $form_color_radio;
        border-radius: 50%;
        position: relative;
        float: left;
        margin-right: 10px;

        label {
          position: absolute;
          width: 80%;
          height: 80%;
          margin: calc(10% - 6px);
          border: 6px solid $form_color_radio;
          border-radius: 50%;
          background-color: #fff;
          box-sizing: content-box;

          img {
            width: 90%;
            height: 90%;
            margin: 5%;
          }
        }
        
        input {
          //display: none;
          position: absolute;
          left:20px;
          top:50px;

          &:checked + label {
            border: 6px solid $theme_color01;
          }
        }
      }
    }

    .date_info {
      float: left;
      margin-right: 50px;

      .datepicker_box {
        position: relative;
        display: block;
        width: 250px;
        height: 250px;
        border: 1px solid $form_font_color;
        margin-bottom: 15px;

        div {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }

        .container_startdate,
        .container_deadline {

          &.front {
            z-index: 2;
          }

        }

        .container_startdate {
          table tr td.active:active,
          tr td.active.highlighted:active,
          tr td.active.active,
          tr td.active.highlighted.active {
            background: $theme_gradient01;
          }
        }

        .container_deadline {
          table tr td.active:active,
          tr td.active.highlighted:active,
          tr td.active.active,
          tr td.active.highlighted.active {
            background: $theme_gradient03;
          }
        }

      }

      .date_type {
        //display: inline-block;
        float: left;
        .radio {
          display: block;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background-color: $form_color_radio;
          overflow: hidden;
          margin: 0;
          float: left;
          margin-right: 10px;

          .bullet {
            display: block;
            width: 60%;
            height: 60%;
            border-radius: 50%;
            margin: 20%;
            background-color: transparent;
          }
        }
        
        .label {
          margin-top: 4px;
          float: left;
        }
      }

      .startdate {
        margin-right: 50px;
        .radio {
          .bullet.selected {
            background: $theme_gradient01;
          }
        }
      }
      .deadline {
        .radio {
          .bullet.selected {
            background: $theme_gradient03;
          }
        }
      }

    }

  }
}

.timepicker {
  width: 75px;
  text-align: center;
  float: left;
  border: 1px solid $form_font_color;

  .arrow_up,
  .arrow_down {
    background-color: $form_font_color;
    color: #fff;
  }

  .visible_container {
    height: 200px;
    overflow: hidden;

    ul {
      position: relative;
      top: -50px;
      transition: top 0.3s;
      list-style: none;
      padding: 0;

      li {
        input {
          display: none;
          &:checked + label {
            background-color: $theme_color01;
            color: #fff;
          }
        }
        label {
          display: block;
          width: 100%;
          border-radius: 15px;
        }
      }
    }
  }
}

.location_info {
  clear: both;
}


//part 04
//range_slider
.slider_block {
  margin-bottom: 20px;

  div:first-child {
    margin-bottom: 10px;
  }

  span {
    display: block;
    width: 50px;
    float: left;
    &.max_participants,
    &.price_amount,
    &.helpers_amount {
      margin-left: 20px;
    }
  }

  div.slider {
    float: left;
  }

}

.slider.slider-horizontal {
  width: 80%;
}

.participants .slider.slider-horizontal .slider-track,
.price .slider.slider-horizontal .slider-track,
.helpers .slider.slider-horizontal .slider-track {
  height: 4px;
  margin-top: -1px;
}

.slider .tooltip.top {
  display: none;
}

.participants .slider-handle,
.price .slider-handle,
.helpers .slider-handle {
  background-image: $theme_gradient01;
}

.participants .slider-selection,
.price .slider-selection,
.helpers .slider-selection {
  background-image: none;
  background-color: $theme_color01;
}



/* clearfix */
.total::before, .total::after,
.categories::before, .categories::after,
.date_type::before, .date_type::after,
.slider_block::before, .slider_block::after {
  content: '';
  line-height: 0;
  display: table;
}
.total::after,
.categories::after,
.date_type::after,
.slider_block::after {
  clear: both;
}