


.form_part {
  //width: 500px;
  overflow: hidden;
}



.total {
  //width: 2000px;
  width: 400%;
  position: relative;
  left: 0%;

  transition: left 0.75s;

  div[class^="part0"] {
    //width: 500px;
    width: 25%;
    float: left;

    .step_content {
      width: 80%;
      margin: 0 auto;
    }


    .categories {
      .category {
        width: 100px;
        height: 100px;
        background-color: $form_color_radio;
        border-radius: 50%;
        position: relative;
        float: left;
        margin-right: 10px;

        label {
          position: absolute;
          width: 80%;
          height: 80%;
          margin: calc(10% - 6px);
          border: 6px solid $form_color_radio;
          border-radius: 50%;
          background-color: #fff;
          box-sizing: content-box;

          img {
            width: 90%;
            height: 90%;
            margin: 5%;
          }
        }
        
        input {
          //display: none;
          position: absolute;
          left:20px;
          top:50px;

          &:checked + label {
            border: 6px solid $theme_color01;
          }
        }
      }
    }

    .poster {
      width: 100%;
      height: 300px;
      label {
        width: 100%;
        height: 95%;
        border: $form_color 2px dashed;
        display: block;
        text-align: center;
        position: relative;
        
        img.uploaded_poster {
          display: none;
          height: 100%;
          width: auto;
        }

        span {
          position: absolute;
          //top: 30%;
          left: 0;
          width: 100%;
          height: 100%;
          line-height: 300px;
        }

        &:hover {
          cursor: pointer;
          span {
            text-decoration: underline;
          }
        }

        &.with_poster {
          span {
            opacity: 0;
            -webkit-transition: opacity 0.2s; /* Safari */
            transition: opacity 0.2s;
          }
          &:hover {
            span {
              opacity: 1;
              //background-color: rgba($theme_color02, 0.95);
              background-color: rgba($form_color_radio, 0.9);
            }
          }
        }
      }
    }

    .title.description {
      margin-top: 30px;
    }

    .date_info {
      float: left;
      margin-right: 50px;
      text-align: center;

      .datepicker_box {
        position: relative;
        display: block;
        width: 250px;
        height: 230px;
        border: 1px solid $form_font_color;
        margin-bottom: 15px;

        div {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }

        .container_startdate,
        .container_deadline {

          &.front {
            z-index: 2;
          }

          table {
            margin: 0 auto;
            tr {
              td {
                padding: 5px;
                cursor: default;
                &.disabled {
                  background-color: #d5d5d5;
                }
              }
            }
          }

        }

        .container_startdate {
          table tr td.active:active,
          tr td.active.highlighted:active,
          tr td.active.active,
          tr td.active.highlighted.active {
            background: $theme_gradient01;
          }
        }

        .container_deadline {
          table tr td.active:active,
          tr td.active.highlighted:active,
          tr td.active.active,
          tr td.active.highlighted.active {
            background: $theme_gradient03;
          }
        }

      }

      .date_type {
        //display: inline-block;
        float: left;
        .radio {
          display: block;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background-color: $form_color_radio;
          overflow: hidden;
          margin: 0;
          float: left;
          margin-right: 10px;

          .bullet {
            display: block;
            width: 60%;
            height: 60%;
            border-radius: 50%;
            margin: 20%;
            background-color: transparent;
          }
        }
        
        .label {
          margin-top: 4px;
          float: left;
        }
      }

      .startdate {
        //margin-right: 50px;
        width: 150px;
        .radio {
          .bullet.selected {
            background: $theme_gradient01;
          }
        }
      }
      .deadline {
        .radio {
          .bullet.selected {
            background: $theme_gradient03;
          }
        }
      }

    }

  }
}

.timepicker {
  width: 75px;
  text-align: center;
  float: left;
  border: 1px solid $form_font_color;

  .arrow_up,
  .arrow_down {
    background-color: $form_font_color;
    color: #fff;
  }

  .visible_container {
    height: 200px;
    overflow: hidden;

    ul {
      position: relative;
      top: -50px;
      transition: top 0.3s;
      list-style: none;
      padding: 0;

      li {
        input {
          display: none;
          &:checked + label {
            background: $theme_gradient01;
            color: #fff;
          }
        }
        label {
          display: block;
          width: 100%;
          border-radius: 15px;
        }
      }
    }
  }
}

.location_info {
  margin-bottom: 40px;
  margin-top: 40px;

  .location_type {
    div {
      float: left;
      width: 150px;

      .radio {
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $form_color_radio;
        overflow: hidden;
        margin: 0;
        float: left;
        margin-right: 10px;

        .bullet {
          display: block;
          width: 60%;
          height: 60%;
          border-radius: 50%;
          margin: 20%;
          background-color: transparent;
          &.selected {
            background: $theme_gradient01;
          }
        }
      }
    }


  }

  #map {
    width: 100%;
    height: 350px;
  }
  .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  #place-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
  }

  #place-input:focus {
    border-color: #4d90fe;
  }


}


//part 04
//range_slider
.slider_block {
  margin: 0 auto;
  margin-bottom: 20px;

  div:first-child {
    margin-bottom: 10px;
  }

  span {
    display: block;
    float: left;

    &.min_participants,
    &.min {
      width: 50px;
    }

    &.max_participants,
    &.price_amount,
    &.helpers_amount {
      margin-left: 20px;
      width: 25px;
      text-align: right;
    }
  }

  div.slider {
    float: left;
  }

  .slider.slider-horizontal {
    width: 84%;
  }

}



.participants .slider.slider-horizontal .slider-track,
.price .slider.slider-horizontal .slider-track,
.helpers .slider.slider-horizontal .slider-track {
  height: 4px;
  margin-top: -1px;
  background-image: none;
  background-color: $form_color;
}

.slider .tooltip.top {
  display: none;
}

.participants .slider-handle,
.price .slider-handle,
.helpers .slider-handle {
  background-image: $theme_gradient01;
}

.participants .slider-selection,
.price .slider-selection,
.helpers .slider-selection {
  background-image: none;
  background-color: $theme_color01;
}


.owner {
  position: relative;
  margin: 0 auto;
  margin-bottom: 25px;

  div {
    font-size: 1.2em; //22px;
    font-family: inherit;
    display: block;
    height: 100%;
    padding: 10px 5%;
    color: $form_color;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
    border: 1px solid $form_color;
    background-color: transparent;
    cursor: pointer;
    width: 90%;
    
    i {
      float: right;
    }
  }
  ul {
    position: absolute;
    width: 100%;
    background-color: rgba($form_color, 0.9);
    margin: 0;
    padding: 0;
    border: 1px solid $form_color;
    list-style: none;
    display: none;
    z-index: 2;

    li {
      padding: 5px 5%;
      cursor: initial;
      &:hover {
        background-color: $theme_color01;
        -webkit-border-radius: 10px;
        color: #fff;
      }
    }
  }
}

.extra_url {
  margin-top: 40px;
}

.visbility {
  .checkbox {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: $form_color_radio;
    padding: 2px 3px;
    padding-bottom: 4px;
    border-radius: 5px;
    color: transparent;
    margin-right: 15px;
    &:hover {
      color: $form_color;
    }
    & + span {
      display: inline-block;
    }
  }

  input:checked + label .checkbox {
    color: $theme_color01;
  }
}

.submit {
  margin-top: 25px;
}




/* clearfix */
.clearfix::before, .clearfix::after,
.total::before, .total::after,
.categories::before, .categories::after,
.date_type::before, .date_type::after,
.location_type::before, .location_type::after,
.slider_block::before, .slider_block::after {
  content: '';
  line-height: 0;
  display: table;
}

.clearfix::after,
.total::after,
.categories::after,
.date_type::after,
.location_type::after,
.slider_block::after {
  clear: both;
}