//colors
$theme_color01 : #1abc9c;
$theme_color01_shade01 : #16a085;
$theme_gradient01: linear-gradient(-216deg, #00ffa7 0%, #009688 100%);

$theme_color02 : #24313c;
$theme_color02_alpha : rgba(36, 49, 60, 0.8);

$theme_color03: #ff9f23;
$theme_gradient03: linear-gradient(-216deg, $theme_color03 0%, #dd5128 100%);

$form_color: #6b7d87;
$form_color_radio: #3d4b53;
$form_font_color: #9CAFB9;

$success_bg_color: #a2d8a6;
$success_font_color: #1d6920;

$error_bg_color: #d7b3b2;
$error_font_color: #872619;

$delete_color: #b73928;


//category colors:
$battle_bunny: #395696;
$party_penguin: #e51853;


//fonts
$main_font : 'Titillium Web', sans-serif;
$h3_font : 'Quicksand', sans-serif;

html, body {
  margin: 0;
  padding: 0;
  font-family: $main_font;
    height: 100%;
}

body {
  background-image: url("../images/site_images/background_img.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 0px -150px;
  //overflow: hidden;
  background-attachment: fixed;
}

/*
.page_container {
  width: 100%;
  //height: 100vh;
  background-image: url("../images/site_images/background_img.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 0px -150px;
  //overflow: hidden;
  background-attachment: fixed;
}*/

.page_container, .page_content {
    height: 100%;
}

nav {
  background-color: $theme_color02;
  position: fixed;
  height: 100%;
  width: 100px;
    z-index: 5;

  .profile_pic {
    width: 50%;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: $form_color;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    text-align: center;

    li {
      a {
        color: #fff;
        font-size: 2em;
      }
    }
  }
}

#hamburger {
    display: none;
}

.hamburger {
    font-size: 1.5em;
    text-align: center;
    color: $theme_color01;
    position: relative;
    z-index: 5;
    display: none;
    
    i {
        padding: 5px 10px;
        margin-top: 25px;
        border: 1px $theme_color01 solid;
        border-radius: 5px;
    }
}

.block {
    //width: 800px;
    width: 55%;
    margin: 0px auto;
    //background-color: $theme_color02_alpha;
    background-color: #fff;
    color: $form_font_color;
    //display: inline-block;
    position: relative;
    top: 50px;
    margin-bottom: 150px;
    box-shadow: 10px 10px 15px rgba(#000, 0.6);
    
  .heading {
    background-color: $theme_color01;
    //background: $theme_gradient01;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

  .content {
    padding: 40px;
    padding-bottom: 25px;
  }

  h3 {
    font-weight: lighter;
    color: #fff;
  }
}

.success_msg {
    padding: 5px;
    border-radius: 5px;
    background-color: $success_bg_color;
    color: $success_font_color;
    margin-bottom: 20px;
}

.error_msg {
  padding: 5px;
  border-radius: 5px;
  background-color: $error_bg_color;
  color: $error_font_color;
  margin-bottom: 20px;
}

.descriptive_info {
    font-size: 0.8em;
    font-style: italic;
}

.center {
    text-align: center;
}

.link {
    color: rgba($theme_color01, 0.6);
    cursor: pointer;
    //text-decoration: none;
    &:hover {
        color: $theme_color01;
    }
}

.edit_button {
    display: none;
    margin: 7px 10px;
    
    a {
        display: block;
        padding: 3px 8px;
        color: rgba($form_font_color, 0.5);
        border: 1px rgba($form_font_color, 0.5) solid;
        border-radius: 5px;
        text-decoration: none;
        
        &:hover {
            border-color: $form_font_color;
            color: $form_font_color;
        }
    }
}

.tabs {
    .tab {
        //border: 2px solid $theme_color01;
        //border-radius: 5px;
        //padding: 8px 2%;
        //width: calc(46% - 8px);
        position: relative;
        padding: 8px 0;
        width: 50%;
        text-align: center;
        cursor: pointer;
        background-color: rgba($form_font_color, 0.25);
        z-index: 5;
        
        transition: background-color .5s;
        
        &:first-child {
            //margin-right: 1%;
        }
        
        .bg_helper {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(-216deg, #00ffa7 0%, #009688 100%);
            opacity: 0;
            transition: opacity .5s;
        }
        
        &:hover, &.active {
            //background-color: rgba($theme_color01, 0.5);
            .bg_helper {
                opacity: 1;
            }
            //background: linear-gradient(-216deg, #00ffa7 0%, #009688 100%);
            color: #fff;
        }
    }
}

.lightbox_modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.6);
    z-index: 5;
    display: none;
    
    .modal {
        width: 45%;
        margin: 30px auto;
        background-color: rgba(#000, .75);
        box-shadow: 0 0 10px #000, 0 0 25px #000;
        color: rgba(#fff, 0.8);
        
        .modal_header, .modal_footer {
            padding: 10px;
        }
        .modal_header {
            text-align: right;
            i {
                cursor: pointer;
                &:hover {
                    color: #fff;
                }
            }
        }
        .modal_body {
            text-align: center;
            img {
                width: 90%;
                height: auto;
            }
        }
        .modal_footer {
            text-align: center;
            //font-style: italic;
        }
        
    }
    
    &.light {
        .modal {
            background-color: #fff;
            box-shadow: none;
            color: $form_font_color;
            border-radius: 5px;
            i {
                &:hover {
                    color: #000;
                }
            }
        }
    }
}

.timeline {
  margin: 25px;
  position: relative;
  .line {
    border: 2px solid;
    position: absolute;
    width: calc(100% - 4px);
    top: 45%;
  }
  .filled_line {
    border: 2px solid $theme_color01;
    position: absolute;
    width: 0%;
    top: 45%;
    transition: width 0.75s;
  }

  div[class^="step"] {
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    border: 2.5px solid $form_font_color;
    float: left;
    margin-right: calc((100% - 120px)/3);
    color: #fff;
    cursor: pointer;
    text-align: center;
    line-height: 25px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }
    &.reached {
      background: $theme_gradient01;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border: 0;
    }

  }
}


//forms general styling
@import "partials/form_styling";


@import "login_screen/_login";




//activities
@import "activities/add_activity";
@import "activities/activities_overview";
@import "activities/activity_details";
@import "activities/activities_list";
@import "activities/activity_participants";

//scoreboard
@import "partials/scoreboard";



//floats
.float {
    float: left;
}


// clearfix
.clearfix::before, .clearfix::after,
.timeline::before, .timeline::after {
  content: "";
  line-height: 0;
  display: table;
}

.clearfix::after,
.timeline::after {
  clear: both;
}

//mediaqueries
@media screen and (max-width: 375px) {
    nav {
        background-color: $theme_color02;
        position: fixed;
        top: -100%;
        height: 100%;
        width: 100%;
        z-index: 2;
        
        transition: top 1s;

      .profile_pic {
        width: 50px;
        height: 50px;
      }
    }
    
    .hamburger {
        display: block;
    }
    
    #hamburger:checked + nav {
        top: 0;
    }
    
    body {
        background-image: none;
    }
    
    .block {
      //width: 800px;
      width: 100%;
      margin: 0px auto;
      top: 50px;
      margin-bottom: 50px;
      .heading {
        background-color: $theme_color01;
        //background: $theme_gradient01;
        color: #fff;
        text-align: center;
        padding: 10px;
      }

      .content {
        padding: 40px;
        padding-bottom: 25px;
      }
    }
    
}

