.add_winterhour, .edit_winterhour {

    .step_not_reachable {
        text-align: center;
        margin-bottom: 25px;
        display: none;
    }
    
    .not_editable_message {
        display: none;
        width: 91%;
        padding: 3px 1%;
        margin: 0 auto;
        border: 1px solid orange;
        border-radius: 5px;
        i {
            color: orange;
        }
    }
    
    .form_part {
        .groupname {
            margin-top: 25px;
        }
        
        .date_and_time {
            .descriptive_info {
                margin-bottom: 10px;
            }
            
            .day_and_time {
                padding-left: 1%;
                width: 40%;
                margin-right: 19%;
                .day_select, .hour_select {
                    margin-bottom: 35px;
                    
                    .bootstrap-select {
                        .dropdown-toggle {
                            border: 1px solid $form_color;
                            border-radius: 0px;
                            &:hover, &:focus {
                                background-color: transparent;
                            }
                        }
                        .dropdown-menu {
                            border-radius: 0px;
                            border-color: $form_color;
                            border-top: 0;
                            margin: 0;
                            ul {
                                li {
                                    a {
                                        padding: 3px 15px;
                                        
                                        &:hover {
                                            background-color: $theme_color01;
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .date {
                width: 40%;
                .container_date {
                    width: 215px;
                    border: 1px solid #eee;
                    padding: 15px 25px;

                    table {
                        tr {
                          td {
                            padding: 5px;
                            cursor: default;
                            &.disabled {
                              background-color: rgba(#d0dae2, 0.2);
                            }
                          }
                        }
                    }

                    table tr td.active:active,
                    tr td.active.highlighted:active,
                    tr td.active.active,
                    tr td.active.highlighted.active {
                        background: $theme_gradient01;
                        color: #fff;
                    }
                }
            }
        }
        
        .add_participants {
            margin-bottom: 25px;
            .add_participant {
                &.template {
                    display: none;
                }
                .search_functionality {
                    width: 98%;
                    
                    input.search_participants {
                        font-size: inherit;
                        width: calc(100% - 21px);
                        padding: 5px 10px;
                        border: 0;
                        border-bottom: 1px solid $form_color;
                        color: $form_color;
                        &:hover, &:focus {
                            border-color: $theme_color01;
                        }
                        &:disabled {
                            background-color: transparent;
                            border: 0;
                            color: inherit;
                        }
                    }
                    
                    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                      color: lighten($form_font_color, 0.5);
                    }
                    ::-moz-placeholder { /* Firefox 19+ */
                      color: lighten($form_font_color, 0.5);
                    }
                    :-ms-input-placeholder { /* IE 10+ */
                      color: lighten($form_font_color, 0.5);
                    }
                    :-moz-placeholder { /* Firefox 18- */
                      color: lighten($form_font_color, 0.5);
                    }
                    
                    .search_results {
                        position: relative;

                        ul {
                            display: none;
                            padding: 0;
                            list-style: none;
                            margin: 0;
                            //padding: 10px;
                            position: absolute;
                            background-color: #fff;
                            width: calc(100% - 2px);
                            border: 1px $form_color solid;
                            border-top: 0;
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;

                            li {
                                padding: 6px 10px;
                                &:hover {
                                    cursor: pointer;
                                    background-color: $theme_color01;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
                .delete {
                    width: 2%;
                    height: 32px;
                    line-height: 32px;
                    text-align: right;
                    color: $delete_color;
                    cursor: pointer;
                    
                    &.not_working {
                        display: none;
                    }
                }
            }
            
        }
        
        .availabilities {
            .participants {
                .participant {
                    padding: 5px;
                    border-bottom: 1px solid rgba($theme_color01, 0.25);
                    
                    &.header {
                        background-color: $theme_color01;
                        color: #fff;
                        &:hover {
                            background-color: $theme_color01;
                            color: #fff;
                        }
                    }
                    .name {
                        width: 50%;
                    }
                    .availability_ok {
                        width: 50%;
                        text-align: right;
                        i {
                            width: 10%;
                            text-align: center;
                            color: $theme_color01;
                        }
                    }
                    &:hover, &.opened {
                        background-color: rgba($theme_color01, 0.5);
                        color: #fff;
                        .link {
                            color: #fff;
                        }
                    }
                }
            }
        }
        
        .scheme_generation {
            .submit a {
                width: calc(100% - 20px);
                background: linear-gradient(-216deg, #00ffa7 0%, #009688 50%, #00ffa7 100%);
                background-size: 200% 100%;
                transition: background 0.3s ease;
                display: block;
                padding: 10px;
                text-align: center;
                color: #fff;
                text-decoration: none;
                font-size: 1.2em;

                &:hover {
                  cursor: pointer;
                  background-position: 100%;
                }
            }
            .swap_message {
                margin-top: 25px;
                padding: 2px 5px;
                border-radius: 5px;
                text-align: center;
                display: none;
                &.failed {
                    border: 1px solid $error_color;
                }
                &.success {
                    border: 1px solid $success_color;
                }
            }
            .scheme {
                .date {
                    width: 22%;
                    margin-right: 4%;
                    font-size: 0.9em;
                    &:nth-child(4n+4) {
                        margin-right: 0;
                    }
                    h3 {
                        margin-bottom: 5px;
                        border-bottom: 1px solid $theme_color01;
                        padding-bottom: 3px;
                    }
                    
                    .participant {
                        border: 1px solid transparent;
                        margin-bottom: 2px;
                        &:hover {
                            cursor: move;
                            border: 1px dashed $form_font_color;
                        }
                        &.ui-state-hover {
                            background: rgba($theme_color01, 0.1);
                            border: 1px dashed $form_font_color;
                        }
                        &.ui-state-active {
                            background: rgba($theme_color01, 0.6);
                            color: #fff;
                            border: 1px dashed $theme_color01;
                        }
                    }
                }
            }
            .accept_scheme {
                .descriptive_info {
                    margin-top: 25px;
                }
            }
        }
    }
}