.winterhours_overview {
    
    
    .add_winterhour_link {
        a {
            float: right;
            padding: 8px 14px;
            background-color: rgba($theme_color01, 0.6);
            border-radius: 50%;
            color: #fff;
            @include transition(background-color 0.2s ease);
            &:hover {
                background-color: $theme_color01;
            }
        }
    }
    .winterhour_group {
        margin-bottom: 20px;
        h3 {
            margin: 0;
            cursor: pointer;
        }
        .day_time {
            font-size: 0.9em;
            font-weight: 300;
            a {
                font-weight: 500;
            }
        }
        .participants {
            font-size: 0.9em;
            h4 {
                margin-bottom: 0px;
                cursor: pointer;
            }
            .participants_block {
                display: none;
            }
            .participant {
                .name {
                    width: 20%;
                    @include smartphone {
                        width: 55%;
                    }
                }
                .gsm {
                    width: 20%;
                    @include smartphone {
                        width: 45%;
                    }
                }
                .email {
                    width: 30%;
                    @include smartphone {
                        display: none;
                    }
                }
                &:hover {
                    background-color: rgba($theme_color01, 0.1);
                }
            }
        }
        .swap_message {
            margin-top: 25px;
            padding: 2px 5px;
            border-radius: 5px;
            text-align: center;
            display: none;
            &.failed {
                border: 1px solid $error_color;
            }
            &.success {
                border: 1px solid $success_color;
            }
        }
        
        .scheme {
            .date {
                width: 22%;
                margin-right: 4%;
                
                &:nth-child(4n+4) {
                    margin-right: 0;
                }
                
                @include smartphone {
                    width: 30%;
                    margin-right: 3%;
                    font-size: 0.9em;
                }
                
                h3 {
                    border-bottom: 1px solid $theme_color01;
                    cursor: initial;
                    .year {
                        @include smartphone {
                            display: none;
                        }
                    }
                }
                .participant {
                    font-size: 0.9em;
                    border: 1px solid transparent;
                    &.active {
                        color: $theme_color01;
                        &.dragdrop {
                            &:hover {
                                cursor: move;
                                border: 1px dashed $form_font_color;
                            }
                        }
                    }
                    
                    &.ui-state-hover {
                        background: rgba($theme_color01, 0.1);
                        border: 1px dashed $form_font_color;
                    }
                    &.ui-state-active {
                        background: rgba($theme_color01, 0.6);
                        color: #fff;
                        border: 1px dashed $theme_color01;
                    }
                    
                    .last_name_smartphone {
                        display: none;
                        @include smartphone {
                            display: inline;
                        }
                    }
                    .last_name_desktop {
                        @include smartphone {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
