.winterhours_overview {
    
    .title {
        h3 {
            width: 50%;
            margin-top: 0;
        }
        .add_winterhour {
            width: 50%;
            text-align: right;
            line-height: 31px;
        }
    }
    .winterhour_group {
        h3 {
            margin-bottom: 0;
        }
        .day_time {
            font-size: 0.9em;
            font-weight: 300;
            a {
                font-weight: 500;
            }
        }
        .participants {
            font-size: 0.9em;
            h4 {
                margin-bottom: 0px;
            }
            .participants_block {
                display: none;
            }
            .participant {
                .name {
                    width: 20%;
                }
                .gsm {
                    width: 20%;
                }
                .email {
                    width: 30%;
                }
                &:hover {
                    background-color: rgba($theme_color01, 0.1);
                }
            }
        }
        
        .scheme {
            .date {
                width: 22%;
                margin-right: 4%;
                
                &:nth-child(4n+4) {
                    margin-right: 0;
                }
                h3 {
                    border-bottom: 1px solid $theme_color01;
                }
                .participant {
                    font-size: 0.9em;
                    &.active {
                        color: $theme_color01;
                    }
                }
            }
        }
    }
}
