.winterhours_overview {
    .winterhour_group {
        .participants {
            width: 30%;
            font-size: 0.9em;
            .participant {
                .name {
                    width: 60%;
                }
                .gsm {
                    width: 40%;
                }
            }
        }
        
        .scheme {
            .date {
                width: 25%;
                .participant {
                    &.active {
                        color: $theme_color01;
                    }
                }
            }
        }
    }
}
