.members_overview {
    //
    
    .search {
        margin-bottom: 50px;
        
        .quick {
            input {
                width: 92%;
                padding: 5px 10px;
                font-size: inherit;
                color: inherit;
                border: 1px solid $theme_color01;
                &::placeholder {
                    color: $form_font_color;
                    font-style: italic;
                }
                @include tablet {
                    width: calc(90% - 2px);
                    padding: 5px 1%;
                }
                @include smartphone {
                    width: 75%;
                }
            }
            span {
                padding: 3px 10px;
                border: 1px solid $theme_color01;
                color: #fff;
                background: linear-gradient(-216deg, #00ffa7 0%, #009688 50%, #00ffa7 100%);
                background-size: 200% 100%;
                //transition: background 0.3s ease;
                @include transition(background 0.3s ease);
                &:hover {
                    background-position: 100%;
                    cursor: pointer;
                }
                
                @include tablet {
                    width: calc(2% - 2px);
                    padding: 3px 3%;
                }
            }
        }
        
        .open_advanced {
            margin-top: 5px;
            width: 150px;
        }
        
        .advanced {
            display: none;
            background-color: rgba($theme_color01, 0.1);
            margin-bottom: 50px;
            margin-top: 5px;
            padding: 15px;
            
            label {
                display: none;
            }
            
            .ranking, .birth_year {
                width: 50%;
                //padding: 0px 2.5%;
                h3 {
                    margin-top: 0;
                    @include smartphone {
                        &:nth:child(2) {
                            margin-top: 20px;
                        }
                    }
                }
            }
            .ranking, .birth_year {
                .btn-group.bootstrap-select {
                    width: 160px;
                }
            }
            
            input[type="submit"] {
                margin-top: 25px;
            }
        }
    }
    
    .links {
        margin-bottom: 10px;
        .download {
            margin-right: 25px;
        }
        .import_members {
            text-decoration: underline;
        }
    }
    
    .no_results {
        text-align: center;
        h2 {
            color: $theme_color01;
        }
    }
    .list {
        .member_block {
            border-bottom: 1px solid rgba($theme_color01, 0.25);
            .row {
                padding: 5px;
                &.header{
                    background-color: $theme_color01;
                    color: #fff;
                }
                .vtv_nr {
                    width: 10%;
                    @include smartphone {
                        display: none;
                    }
                }
                .name {
                    width: 40%;
                    @include smartphone {
                        width: 100%;
                    }
                }
                .date {
                    width: 20%;
                    @include smartphone {
                        display: none;
                    }
                }
                .singles {
                    width: 12%;
                    margin-right: 6%;
                    @include smartphone {
                        display: none;
                    }
                }
                .doubles {
                    width: 12%;
                    @include smartphone {
                        display: none;
                    }
                }
            }
            .details {
                display: none;
                padding: 5px;
                background-color: rgba($theme_color01, 0.1);
                
                .profile_pic {
                    width: 8%;
                    margin-right: 2%;
                    @include smartphone {
                        //width: 15%;
                        //margin-right: 5%;
                        display: none;
                    }
                    img {
                        width: 100%;
                        height: auto;
                        border-radius: 50%;
                    }
                }
                
                .contact_info {
                    width: 90%;
                    margin-top: 15px;
                    @include smartphone {
                        width: 100%;
                        margin-top: 0;

                        span {
                            font-size: 0.9em;
                            &:first-child {
                                display: block;
                                width: 25px;
                            }
                        }
                    }

                    .gsm, .tel {
                        width: 25%;
                        @include smartphone {
                            width: 100%;
                        }
                    }
                    .email {
                        width: 50%;
                        @include smartphone {
                            width: 100%;
                        }
                    }

                    @include smartphone {
                        i {
                            width: 20px;
                        }
                    }
                }
                .temp_pwd {
                    float: right;
                    font-size: 0.9em;
                }
            }
            
            &:hover, &.opened {
                .row {
                    background-color: rgba($theme_color01, 0.5);
                    color: #fff;
                    .link {
                        color: #fff;
                    }
                }
            }
        }
    }
    
    .pagination_container {
        text-align: center;
        .pagination {
            
            @include smartphone {
                li {
                    display: none;
                    &:first-child, &.active, &:last-child {
                        display: inline;
                    }
                }
            }
            
            li {
                a {
                    color: $theme_color01;
                    &:hover {
                        background-color: $theme_color01;
                        color: #fff;
                        border-color: $theme_color01;
                    }
                }
                &.active {
                    span {
                        background-color: $theme_color01;
                        border-color: $theme_color01;
                    }
                }
            }
        }
    }
    
    #import_members_modal {
        height: 100%;
        .error_msg {
            text-align: left;
            margin: 0 15px 15px;
            font-size: 0.9em;
        }
        .descriptive_info {
            margin: 0 15px 15px;
        }
        label {
            border: 1px solid $theme_color01;
            display: block;
            padding: 5px;
            margin-bottom: 15px;
            cursor: pointer;
            &:hover {
                background-color: $theme_color01;
                color: #fff;
            }
        }
    }
    
    #roles_modal {
        
        .modal_body {
            width: 50%;
            margin:  0 auto;
        }
        
        .roles {
            text-align: left;
            .role {
                label {
                    display: block;
                    width: 100%;
                    margin-bottom: 1px;
                    padding: 2px 5px;
                    border-radius: 4px;
                    
                    i {
                        border: 1px solid $form_font_color;
                        border-radius: 4px;
                        color: transparent;
                        background-color: #fff;
                    }
                    .name {
                        margin-left: 10px;
                    }
                }
                input {
                    &:checked + label {
                        background-color: $theme_color01;
                        color: #fff;
                        i {
                            border-color: #fff;
                            color: $theme_color01;
                        }
                    }
                }
                &:hover {
                    label {
                        background-color: $theme_color01;
                        color: #fff;
                        i {
                            border-color: #fff;
                            color: $theme_color01;
                        }
                    }
                }
            }
        }
    }
}