.personal_info {
    position: relative;
    
    .edit_button {
        margin: 0;
        position: absolute;
        right: 0;
        top: 2px;
    }
    
    .save_button {
        display: none;
        padding: 3px 8px;
        color: rgba($form_font_color, 0.5);
        border: 1px rgba($form_font_color, 0.5) solid;
        border-radius: 5px;
        text-decoration: none;
        position: absolute;
        right: 0;
        top: 2px;
        background-color: #fff;
        cursor: pointer;
        
        &:hover {
            color: $form_font_color;
            border: 1px $form_font_color solid;
        }
    }
    
    .profile_pic {
        width: 30%;
        margin-right: 3%;
        position: relative;
        
        @include smartphone {
            float: none;
            width: 50%;
            margin: 0 auto;
        }
        img {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
        .edit_button {
            top: 0;
            right: 0;
            @include smartphone {
                display: block;
                right: -15px;
            }
        }
        &:hover {
            .edit_button {
                display: block;
            }
        }
    }
    .data {
        width: 67%;
        
        @include smartphone {
            float: none;
            width: 100%;
        }
        
        h2 {
            margin: 0;
            margin-bottom: 15px;
            font-weight: normal;
            border-bottom: 1px solid $theme_color01;
            font-family: "Quicksand", sans-serif;
            
            @include smartphone {
                text-align: center;
            }
        }
        
        .contact_info {
            font-size: 0.9em;
            width: 65%;
            margin-right: 2%;
            padding-right: 2.5%;
            border-right: 1px solid $form_font_color;
            
            @include smartphone {
                float: none;
                width: 100%;
                border: none;
            }
            
            & > div {
                padding: 5px 0;
                border-bottom: 1px solid rgba($theme_color02, 0.1);
            }
            
            .gsm, .tel, .email {
                position: relative;
                
                @include smartphone {
                    .edit_button {
                        display: block;
                    }
                }
                
                div {
                    input {
                        background-color: transparent;
                        color: inherit;
                        font-size: inherit;
                        border: 0;
                        padding: 0;
                        border-bottom: 1px solid transparant;
                        width: 100%;
                        
                        &:focus {
                            border-bottom: 1px solid $theme_color01;
                        }
                        
                        &.valid {
                            color: $valid_color;
                        }
                        &.not_valid {
                            color: $delete_color;
                        }
                    }
                }
                
                &:hover {
                    .edit_button {
                        display: block;
                    }
                }
            }
            .title {
                width: 60px;
            }
            .colon {
                width: 10px;
            }
            .value {
                width: 215px;
                
                @include smartphone {
                    width: 200px;
                }
            }
        }
        
        .badges {
            width: 30%;
            h3 {
                margin-top: 0;
                @include smartphone {
                    margin-top: 25px;
                }
            }
            .badge {
                width: 40px;
                position: relative;
                span {
                    position: absolute;
                    color: #fff;
                    top: 25%;
                    left: 30%;
                }
                i.fa {
                    font-size: 2.5em;
                }
            }
        }
    }
    /*
    &:hover {
        .edit_button {
            display: block;
        }
    }
    */
}



.upcoming_activities,
.past_activities {
    .list {
        .row {
            border-bottom: 1px solid rgba($theme_color01, 0.25);
            padding: 5px;
            &.header {
                background-color: $theme_color01;
                color: #fff;
                &:hover {
                    background-color: $theme_color01;
                }
                
                @include smartphone {
                    display: none;
                }
            }
            &:hover {
                background-color: rgba($theme_color01, 0.5);
                color: #fff;
                .title {
                    a {
                        color: #fff;
                    }
                }
            }
            
            .date {
                width: 15%;
                
                @include smartphone {
                    width: 20%;
                }
                
                .year {
                    @include smartphone {
                        display: none;
                    }
                }
            }
            .title {
                width: 65%;
                a {
                    text-decoration: none;
                    &:hover {
                        color: #fff;
                        text-decoration: underline;
                    }
                }
            }
            .paid {
                width: 20%;
                text-align: right;
                @include smartphone {
                    display: none;
                }
            }
        }
    }
}

.winterhours_block {
    .winterhours {
        .winterhour {
            h4 {
                margin: 0;
                margin-top: 5px;
            }
            .dates {
                .date {
                    margin-right: 25px;
                    h5 {
                        margin: 5px 0 1px;
                    }
                }
            }
        }
    }
}

#update_profile_pic_modal {
    
    label {
        display: block;
        width: 400px;
        margin: 0 auto;
        cursor: pointer;
        border: 1px solid $theme_color01;
        margin-bottom: 15px;
        padding: 5px;
        
        &:hover {
            background-color: $theme_color01;
            color: #fff;
        }
    }
    
    button.submit {
        width: 400px;
    }
    
    .upload-container .upload-wrap,
    .upload-container .upload-result,
    .upload-container.ready .upload-msg {
        display: none;
    }
    .upload-container.ready .upload-wrap {
        display: block;
    }
    .upload-container.ready .upload-result {
        display: inline-block;    
    }
    .upload-wrap {
        width: 400px;
        height: 400px;
        margin: 0 auto;
        margin-bottom: 70px;
    }
}

.edit_profile_pic_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.6);
    
    .content {
        width: 50%;
        margin: 30px auto;
        background-color: #fff;
        color: $form_font_color;
        border-radius: 5px;
        
        .header {
            text-align: right;
            i {
                margin: 15px;
                cursor: pointer;
                &:hover {
                    color: #000;
                }
            }
        }
        
        .body {
            text-align: center;
            
            label {
                display: block;
                width: 338px;
                margin: 0 auto;
                cursor: pointer;
                border: 1px solid $theme_color01;
                margin-bottom: 15px;
                padding: 5px;

                &:hover {
                    background-color: $theme_color01;
                    color: #fff;
                }
            }
            
            .upload-container .upload-wrap,
            .upload-container .upload-result,
            .upload-container.ready .upload-msg {
                display: none;
            }
            .upload-container.ready .upload-wrap {
                display: block;
            }
            .upload-container.ready .upload-result {
                display: inline-block;    
            }
            .upload-wrap {
                width: 350px;
                height: 350px;
                margin: 0 auto;
                margin-bottom: 70px;
            }
            
            button.submit {
                width: 350px;
                margin-top: 0;
                margin-bottom: 15px;
            }
        }
    }
}