
circle {
  fill: #f1f1f1;
  stroke: green;
  stroke-width: 5;
}

path {
  fill: green;
    &:hover {
        fill: brown;
    }
}

svg.pie {
  width: 230px;
  height: 230px;
}


.pie {
	position: relative;
	margin: 1em auto;
	border: dashed 1px;
	padding: 0;
	width: 32em; height: 32em;
	border-radius: 50%;
	list-style: none;
}
.slice {
	/* remove slash at the end of this line to see full slice contents */
	overflow: hidden; /**/
	position: absolute;
	top: 0; right: 0;
	/* add slash at end of this line to show the red outline of the slice *
	outline: solid 1px red; /**/
	width: 50%; height: 50%;
	transform-origin: 0% 100%; 
}
.slice-contents {
	position: absolute;
	left: -100%;
	width: 200%; height: 200%;
	border-radius: 50%;
	//background: green;
	text-align: center;
	transition: background-color .5s;
}

.slice-contents .real_content {
    transform: rotate(0deg);
    width: 50%;
    height: 50%;
    position: absolute;
    text-align: left;
    
    span {
        position: absolute;
        top: 60%;
        left: 20%;
    }
}
.slice:first-child {
    z-index: 1;
    transform: rotate(-35deg) skewY(-20deg);
        /*
	transform: rotate(40deg) /* angle between vertical axis (12 o'clock) 
							and start of the slice; 
							change it to see how the slice changes *//*
			skewY(-40deg); /* minus (90deg minus the central angle of the slice) 
							see http://en.wikipedia.org/wiki/Central_angle 
							change it to see how the slice changes */
	/* in this case, take the central angle of the slice to be 50deg 
	   90deg - 50deg = 40deg => skewY(-40deg) */
    border: 1px solid $theme_color01;
}
.slice:first-child .slice-contents {
    transform: skewY(19deg) rotate(35deg);
}
.slice:nth-child(1) .slice-contents .real_content {
    left: 25%;
    
    span {
        top: 25%;
        left: 35%;
    }
}
.slice:nth-child(2) {
	transform: rotate(-90deg) skewY(-35deg);
}
.slice:nth-child(2) .slice-contents {
	transform: skewY(35deg) /* unskew slice contents */
			rotate(90deg); /* rotate by half the central angle of the slice 
							which is 50deg in this case */
}
.slice:nth-child(2) .slice-contents .real_content {
    //transform: rotate(65deg);
    transform: rotate(0deg);
    width: 50%;
    height: 50%;
    position: absolute;
    left: 0%;
    bottom: 50%;
    text-align: left;
    
    span {
        position: absolute;
        top: 60%;
        left: 20%;
    }
}
.slice:nth-child(3) {
	transform: rotate(35deg) skewY(-35deg);
}
.slice:nth-child(3) .slice-contents {
    transform: skewY(35deg) rotate(-35deg);
}
.slice:nth-child(3) .slice-contents .real_content {
    left: 50%;
    
    span {
        left: 45%;
    }
}




.slice-contents:hover { 
    background-color: lighten($theme_color01, 50%);
}




/****************************/





.podium {
    margin: 50px 0;
    .outer_arc {
        width: 45%;
        height: 170px;
        border: 5px solid $theme_color01;
        border-top-left-radius: 170px;
        border-top-right-radius: 170px;
        position: relative;
        margin: 0 auto;
        
        .pie {
            margin: 0 auto;
            border: 0;
            width: 101%;
            height: 202%;
            margin-left: -2px;
            margin-top: -2px;
            overflow: hidden;
        }

        .inner_arc {
            z-index: 1;
            width: 32%;
            height: 58px;
            //background-color: pink;
            background-color: #fff;
            position: absolute;
            left: 33%;
            bottom: -5px;
            border-top-left-radius: 58px;
            border-top-right-radius: 58px;
            border: 5px solid $theme_color01;
            border-bottom: 0;

            .trophy {
                width: 80%;
                height: 86px;
                //background-color: green;
                position: absolute;
                left: 6%;
                border: 5px solid $theme_color01;
                border-radius: 50%;
                top: 10%;
                text-align: center;
                i {
                    color: $theme_color01;
                    font-size: 3.5em;
                    line-height: 86px;
                }
            }
        }
    }
}
