
.login {
  height: 100%;

  .container {
    height: 100%;
  }
}

.login_block {
  width: 400px;
  //margin: 0 auto;
  //margin: 0 calc(50% - 200px);
  margin-top: 160px;
  //margin-bottom: 200px;
  margin-left: 50px;
  overflow: hidden;
  display: inline-block;

  .login-heading {
    text-align: center;
    color: #fff;
    padding: 10px;
    font-size: 3em;
  }

  .content {

    margin-top: 35px;

    .field_wrap {
      position: relative;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 40px;

      label {
        position: absolute;
        transform: translateY(6px);
        left: 13px;
        color: #97a6ae;
        transition: all 0.25s ease;
        -webkit-backface-visibility: hidden;
        pointer-events: none;
        font-size: 1.2em;
      }

      label.active {
        transform: translateY(-25px);
        left: 2px;
        font-size: 1em; //14px;
        .req {
          opacity: 0;
        }
      }

      label.highlight {
        color: #fff;
      }

      input, textarea {
        font-size: 1.2em; //22px;
        display: block;
        width: 90%;
        height: 100%;
        padding: 10px 5%;
        background-color: rgba(#fff, 0.1);
        //border: 1px solid $form_color;
        border: none;
        color: #fff;
        border-radius: 0;
        transition: border-color .25s ease, box-shadow .25s ease;
        &:focus {
          outline:0;
          border-color: $theme_color01;
        }
        /* to change default yellow autofill color*/
        &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0px 1000px $theme_color02 inset;
          -webkit-text-fill-color: $theme_color01;
        }
        
      }
      input[type="submit"] {

        background: $theme_color01; /* For browsers that do not support gradients */
        /*
        background: -webkit-linear-gradient(left top, rgba(#00ffa7, 0.65), rgba(#009688, 0.65)); /* For Safari 5.1 to 6.0
        background: -o-linear-gradient(bottom right, rgba(#00ffa7, 0.65), rgba(#009688, 0.65)); /* For Opera 11.1 to 12.0
        background: -moz-linear-gradient(bottom right, rgba(#00ffa7, 0.65), rgba(#009688, 0.65)); /* For Firefox 3.6 to 15
        background: linear-gradient(to bottom right, #00ffa7, #009688); /* Standard syntax
        background-size: 200% 100%;
        background-position: 0%;*/

        width: 100%;

        background: linear-gradient(-216deg, #00ffa7 0%, #009688 50%, #00ffa7 100%);
        background-size: 200% 100%;
        transition: background 0.3s ease;

        &:hover {
          /*
          background: -webkit-linear-gradient(left top, #00ffa7, #009688); /* For Safari 5.1 to 6.0
          background: -o-linear-gradient(bottom right, #00ffa7, #009688); /* For Opera 11.1 to 12.0
          background: -moz-linear-gradient(bottom right, #00ffa7, #009688); /* For Firefox 3.6 to 15
          background: linear-gradient(to bottom right, #00ffa7, #009688); /* Standard syntax */
          cursor: pointer;
          background-position: 100%;
        }
      }
    }
  }

}