

.tags_block {
    .tags {
        .tag_type_block {
            width: 30%;
            margin-right: 5%;
            &:last-child {
                margin-right: 0;
            }
            .tag {
                label {
                    display: block;
                    width: 100%;
                    margin-bottom: 1px;
                    padding: 2px 5px;
                    border-radius: 4px;
                    
                    i {
                        border: 1px solid $form_font_color;
                        border-radius: 4px;
                        color: transparent;
                        background-color: #fff;
                    }
                    .name {
                        margin-left: 10px;
                    }
                }
                input {
                    &:checked + label {
                        background-color: $theme_color01;
                        color: #fff;
                        i {
                            border-color: #fff;
                            color: $theme_color01;
                        }
                    }
                }
            }
        }
    }
}