//eventjes probeerseltje :p
.exercises_overview {
    .block {
        width: 70%;
        margin-left: 20%;
        @include tablet {
            width: 75%;
            margin: 0 auto;
            left: 95px;
        }
        @include smartphone {
            width: 90%;
            margin: 0 auto;
            left: 0;
        }
        @include smartphone_small {
            width: 100%;
            margin: 0px auto;
            margin-bottom: 50px;
        }
        
        .add_exercise_link {
            margin-bottom: 25px;
            .filter_btn, a {
                padding: 8px 14px;
                background-color: rgba($theme_color01, 0.6);
                border-radius: 50%;
                color: #fff;
                cursor: pointer;
                @include transition(background-color 0.2s ease);
                &:hover {
                    background-color: $theme_color01;
                }
            }
            .filter_btn {
                display: none;
                @include smartphone {
                    display: block;
                }
            }
            a {
                float: right;
            }
        }
    }
    
    .pagination_container, .pagination_container_filter {
        text-align: center;
        .pagination {

            @include smartphone {
                li {
                    display: none;
                    &:first-child, &.active, &:last-child {
                        display: inline;
                    }
                }
            }

            li {
                a, div {
                    color: $theme_color01;
                    &:hover {
                        background-color: $theme_color01;
                        color: #fff;
                        border-color: $theme_color01;
                    }
                }
                &.active {
                    span {
                        background-color: $theme_color01;
                        border-color: $theme_color01;
                    }
                }
            }
        }
    }
    .pagination_container_filter {
        display: none;
    }
}

.filters_block {
    width: 20%;
    margin-right: 2%;
    @include smartphone {
        position: absolute;
        z-index: 5;
        background-color: #fff;
        width: 50%;
        left: 0;
        top: 45px;
        box-shadow: 0px 0px 2px $form_font_color;
        padding: 5px;
        //to put it invisible when filters button is not clicked
        width: 0;
        padding: 0;
        overflow: hidden;
        @include transition(width 0.2s ease);
        &.active {
            width: 50%;
            padding: 5px;
        }
    }
    .close_btn {
        display: none;
        @include smartphone {
            display: block;
            text-align: right;
            &:hover {
                color: $theme_color01;
            }
        }
    }
    .tag_type_block {
        h3 {
            margin: 15px 0 3px;
            border-bottom: 1px solid $theme_color01;
        }
        &:nth-child(2) {
            h3 {
                margin-top: 0;
            }
        }
        .tag {
            label {
                display: block;
                width: 96%;
                margin-bottom: 1px;
                padding: 2px 2%;
                border-radius: 4px;
                
                i {
                    border: 1px solid $form_font_color;
                    border-radius: 4px;
                    color: transparent;
                    background-color: #fff;
                }
                .name {
                    margin-left: 10px;
                }
            }
            input {
                &:checked + label {
                    background-color: $theme_color01;
                    color: #fff;
                    i {
                        border-color: #fff;
                        color: $theme_color01;
                    }
                }
            }
            &:hover {
                label {
                    background-color: $theme_color01;
                    color: #fff;
                    i {
                        border-color: #fff;
                        color: $theme_color01;
                    }
                }
            }
        }
    }
}
.exercises_content {
    width: 78%;
    @include smartphone {
        width: 100%;
    }
    
    .exercises_to_approve {
        padding: 5px;
        border: 1px solid $delete_color;
        border-radius: 5px;
        margin-bottom: 35px;
        .exclamation {
            width: 5%;
            i {
                color: $delete_color;
            }
        }
        .overview {
            width: 95%;
            
            .exercise {
                width: 96%;
                //padding: 3px 2%;
                padding: 3px 0;
                &.header {
                    background-color: $theme_color01;
                    color: #fff;
                }
                .title {
                    width: 35%;
                }
                .author {
                    width: 30%;
                }
                .created_at {
                    width: 20%;
                }
                .view_details {
                    width: 15%;
                    text-align: right;
                }
            }
        }
    }
    
    .no_exercises {
        text-align: center;
        margin-top: 120px;
    }
    .newest {
        padding: 2%;
        box-shadow: 0px 2px 5px rgba($form_font_color, 0.5);
        @include smartphone {
            display: none;
        }
        h3 {
            margin-top: 5px;
        }
        .image {
            width: 45%;
            margin-right: 5%;
            overflow: hidden;
            img {
                width: 100%;
                display: block;
            }
        }
        .info {
            width: 45%;
            h3 {
                margin-top: 0;
            }
            .description {
                font-size: 0.9em;
                a {
                    display: block;
                }
            }
        }
    }
    
    .most_viewed, .all, .filtered_exercises {
        .exercises {
            .exercise {
                width: 21%;
                margin-right: 4%;
                //background-color: pink;
                position: relative;
                box-shadow: 0px 0px 5px rgba($form_font_color, 0.3);
                //border: 1px solid rgba($form_font_color, 0.3);
                padding: 0.5%;
                transition: box-shadow 0.3s;
                &:nth-child(4n+4) {
                    margin-right: 0;
                }
                
                @include smartphone {
                    width: 100%;
                    margin: 0;
                    margin-top: 15px;
                }
                
                .image {
                    overflow: hidden;
                    @include smartphone {
                        width: 95%;
                        padding: 2.5%;
                    }
                    img {
                        width: 100%;
                        filter: grayscale(50%);
                        transition: filter 0.3s;
                    }
                }
                .views {
                    position: absolute;
                    top: 3%;
                    right: 3%;
                    background-color: rgba(#fff, 0.9);
                    color: $form_font_color;
                    border: 1px solid $form_font_color;
                    border-radius: 25px;
                    padding: 0 5px;
                    font-size: 0.8em;
                    .amount {
                        min-width: 30px;
                        text-align: right;
                    }
                }
                .title {
                    text-align: center;
                    @include smartphone {
                        padding: 5px;
                    }
                }
                &:hover {
                    box-shadow: 0px 0px 5px rgba($form_font_color, 0.3), 5px 5px 5px rgba($form_font_color, 0.15);
                    .image {
                        img {
                            filter: grayscale(0%);
                        }
                    }
                }
            }
        }
    }
    .most_viewed {
        @include smartphone {
            display: none;
        }
    }
}

//extra styling for pagination from angular
.apply_bootstrap .pagination > li > div {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
     cursor: pointer;
}
.pagination > li:last-child > div {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}